__pycache__/
*.py[cod]
*.egg-info/
.Python
env/
venv/
.venv/
.idea/
.vscode/
.DS_Store
Thumbs.db
.pytest_cache/
.mypy_cache/
pip-wheel-metadata/
build/
dist/
site/
node_modules/
.coverage
coverage.xml
*.log
downloads/
cache/
thumbnail/
favorites/
config.json
falconpy.db
